body{
    margin: 0px;
}
h1{
    color:blue;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;

}
.half-width img{
    width: 80%;
}
section{
    height: 500px;
}

.top-banner{
    background-image: url(image/background1.png);
    background-repeat: no-repeat;
}
.single-experience{
    box-shadow: 10px 10px 40px;
    border-image: linear gradient();
}
